
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> -->
  <title>What2Eat</title>

  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="jumbotron.css" rel="stylesheet">
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

</head>

<body >

  <nav style="height:80px" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>  
        <a style="margin-top:17px;font-weight:bolder" class="navbar-brand" href="#">What2Eat</a>
      </div>
      <div align="right" id="navbar" class="navbar-collapse collapse ">
        {% if user.is_authenticated %}
        <a href="{% url 'userlogout' %}">
          <button type="button" class="btn btn-success" style="font-weight:bolder;margin-top:22px;">
            Logout
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </a>
        <div class="col-md-10">
          <button type="button" class="btn btn-success" style="font-weight:bolder;margin-top:22px;">
          <span class="glyphicon glyphicon-user"></span>
          Profile</button>
        </div>
        {% else %}
        <div class="row">
          <form class="navbar-form navbar-right">
            <div class="col-md-6">
              <a href="{% url 'signin' %}">

                <button type="button" class="btn btn-success" style="font-weight:bolder;margin-top:15px">
                <span class="glyphicon glyphicon-pencil"></span>
                Sign in
                </button>
              </a>
            </div>
            <div class="col-md-6">
              <a href="{% url 'register' %}"
              <button type="button" class="btn btn-success" style="font-weight:bolder;margin-top:15px">
              Registration
              <span class="glyphicon glyphicon-book"></span>
              </button>
            </a>
          </div>

        </form>
      </div>

      {% endif %}


      {% block content1%}
      {% endblock content1%}
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div style="height:50px" class="jumbotron" >
  <div class="container">

    {% block content2%}

    {% endblock content2 %}


  </div>

  <hr>

  <footer>
    <p>&copy; What2Eat 2015</p>
  </footer>
</div> <!-- /container -->

<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>