{% extends "base.html" %}

{% block content1 %}
 <form class="navbar-form navbar-right">

<!--             <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div> -->
<!--             <a href="{% url 'signin' %}">
              <button type="button" class="btn btn-success" >Sign in</button>
            </a>
            <a href="{% url 'register' %}"
            <button type="button" class="btn btn-success">Registration</button>
            </a> -->
            <!-- <link >Forgotten Password</link> -->
          </form>
{% endblock content1 %}

{% block content2%}

        <p style="margin-top:80px;font-size:40px;font-family:Arial;" >I'm your personal MasterChef and I'm here to help you decide What2Eat today.</p>
<!--         <p>//TODO</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <div style="margin-top:300px" class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Healthiness</h2>
          <p>I care for you and I'll always suggest to you recipes that are not only tasty and delicious but good for your health.</p>
          <p> You can sort my suggestions by a special Healthy coefficient. </p>
          <p>The lower the coefficient is the better is for you. </p>
          <p>I suggest to you not to eat more than 3 recipes per week with coefficient more than 1, unless you have a birthday :)</p>
          <br>
          <br>
          <br>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
          <h2>Chef's Favourite Recipe</h2>
          <p>Crock-Pot Chicken With Black Beans & Cream Cheese</p>
          <img align="center" width="200" style="border-radius: 10px;border: 1px black solid;padding: 2px;" src="http://img.sndimg.com/food/image/upload/w_614,h_461,c_fit/v1/img/recipes/89/20/4/picHGb21S.jpg">
          <br>
          <br>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
       </div>
        <div style="height:50px;" class="col-md-4">
          <h2>Order Products</h2>
          <p>Click here to order the products you need to cook your recipes</p>
          <br>
          <br>
          <p><a class="btn btn-primary" href="/" role="button">Order &raquo;</a></p>
        </div>
{% endblock content2 %}
