{% extends "base.html" %}

{% block content2 %}

<p></p>
<form action="/signin/" method="POST">
<h2 style="margin-top:50px"> Hello, MasterChef </h2>
  <div>
  {% csrf_token %} 
    <input type="text" name="username" placeholder="Username" required/>
  </div>
<p></p>
  <div>
    <input type="password" name="password" placeholder="Password" min="8" required/>
  </div>

  <p></p>
  <a href="/">Forgotten password</a>  
  <p></p>
  <button type="submit" class="btn btn-success" style="font-weight:bolder;">Login</button>
</form>

{% endblock content2 %}

