{% extends "base.html" %}

{% block content2 %}

<p></p>
<form action="/index/" method="post">
<h2> Hello, MasterChef </h2>
  <div>
    <input type="text" name="username" placeholder="Username" required/>
  </div>
<p></p>
  <div>
    <input type="password" name="password" placeholder="Password" min="8" required/>
  </div>

  <p></p>
  <a href="/">Forgotten password</a>  
  <p></p>
        <a href="{% url 'logged' %}"
            <button type="button" class="btn btn-success">Login</button>
            </a>
</form>

{% endblock content2 %}

