{% extends "base.html" %}

{% block content2%}
	<div style="width=100%;" class="table-container"> 
		<table style="background-color:white;" class="table table-striped">
		<br></br>
		<br></br>
		<thead>
			<tr>
				<th>Name</th>
				<th>Healthiness</th>
				<th>Prep-time</th>
				<th>Portions</th>
				<!-- <th align="right">Image</th> -->
			</tr>
		</thead>
		{% for recipe in recipes %}
			<tr>
				<td style="font-weight:bolder;font-size:22px;">{{ recipe.name }}</td>
				<td align="center" style="font-size:16px;">{{ recipe.healthy_coef }}</td>
				<td align="center" style="font-size:16px;">{{ recipe.prepare_time }} mins</td>
				<td align="center" style="font-size:16px;">{{ recipe.servings }}</td>
				<td><img src="{{ recipe.image }}" width="200" /></td>
				<td>
					<a href="/openrecipe/{{ recipe.id }}/">
						<button style="width:120px;" class="btn btn-success">Open recipe</button>
					</a>
					<br></br>
					<a href="/find_suggested_recipes/{{ recipe.id }}/">
						<button style="width:120px;" class="btn btn-primary">Similar recipes</button>
					</a>
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock content2 %}
