{% extends "base.html" %}

{% block content2%}
	<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Healthy coefficient</th>
			<th>Preparation time</th>
			<th>Portions</th>
			<th>Image</th>
		</tr>
	</thead>
	{% for recipe in recipes %}
		<tr>
			<td>{{ recipe.name }}</td>
			<td>{{ recipe.healthy_coef }}</td>
			<td>{{ recipe.prepare_time }} mins</td>
			<td>{{ recipe.servings }}</td>
			<td><img src="{{ recipe.image }}" width="200" /></td>
			<td>
				<a href="/openrecipe/{{ recipe.id }}/">
					<button class="btn btn-success">Open recipe</button>
				</a>
				<a href="/find_suggested_recipes/{{ recipe.id }}/">
					<button>Similar recipes</button>
				</a>
			</td>
		</tr>
	{% endfor %}
	</table>
{% endblock content2 %}
