{% extends "base.html" %}

{% block content2%}
<p></p>
<form action="/login/" method="post">
  <div>
    <input type="text" name="username" placeholder="Username" required/>
  </div>
<p></p>
  <div>
    <input type="email" name="email" placeholder="Email" required/>
  </div>
<p></p>
  <div>
    <input type="password" name="password" placeholder="Password" min="8" required/>
  </div>

<p></p>
  <div>
    <input type="password" name="password" placeholder="Password Again"/>
  </div>
  <p></p>
        <p><a class="btn btn-primary btn-lg" href="login" role="button">Register now</a></p>
</form>
{% endblock content2 %}
